@charset "UTF-8";
* {
  color: #3a302d;
  /* border: solid 1px grey ; */
  font-family: 'Montserrat', canada-type-gibson, '游ゴシック Medium',
 'Yu Gothic Medium', '游ゴシック体', YuGothic, 'ヒラギノ角ゴシック Pro',
 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック',
 'MS PGothic', sans-serif;
  text-align: center;
}

body{
  height: 100vh;
}

.contents {
  height: 100vh;
}

button {
  border: 1px solid #3a302d;
  border-radius: 100px;
  height: 40px;
  width: 200px;
}